.weather{
    width: 500px;
    height: 500px;
background-image: url('./assets/bg.jpg');
border-radius: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10px;
    overflow:auto;
    align-items: center;
}

input{
    height: 50px;
    width: 400px;
    background-color: rgb(243, 240, 53);
    border: none;
    border-radius: 10px;
    padding-left: 15px;
    font-size: 20px;
    color:rgb(44, 38, 37);
  }
  button{
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    border: 8px;
    background-color: rgb(74, 218, 30);
    color:white;
    cursor: pointer;
  }
  
  .res{
    row-gap: 1px;
  }